/* Global Declaration */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root{
    --Cyan : hsl(179, 62%, 43%);
    --Bright-Yellow :hsl(71, 73%, 54%);
    --Light-Gray:hsl(204, 43%, 93%);
    --Grayish-Blue:hsl(218, 22%, 67%);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    background: var(--Light-Gray);
    font-size:16px;
    font-family: 'Karla', sans-serif;
}
main{
    max-width:700px;
    height:500px;
    margin: 11rem auto;
    border-radius:6px;
    display:grid;
    grid-template-rows:  auto auto;
    grid-template-columns: repeat(2,1fr);
    overflow: hidden;
}
/* Typography */
.primary{
 font-size: 25px;
 color:var(--Cyan);
 margin: 30px 0 30px 25px;
}
.secondary{
  font-size:20px;
  color:var(--Bright-Yellow);
  margin:30px 0 25px 25px;
}
.details{
  color:var(--Light-Gray);
  margin: 0 0 15px 25px;
}
/* About */
.about{
 grid-column: 1 / -1;
 background:#ffffff;
}
.details-d{
    color:var(--Grayish-Blue);
    margin: 0 0 15px 25px;
}
/* CTA */
.cta{
    background:var(--Cyan);
}
.cta-details{
    display:flex;
    justify-content: start;
    align-items: center;
}
.cta-price{
    font-size:35px;
    color:#ffff;
    margin:0 10px 5px 25px;
    
}
.cta-time{
    color:#eee; 
    
}

.cta-button{
    outline:none;
    border:none;
    font-size:13px;
    color:#ffffff;
    background:var(--Bright-Yellow);
    padding: 15px 95px;
    border-radius: 5px;
    margin: 10px 0 0 25px;
}
/* Assurance (Why us) */
.assurance{
 background: var(--Cyan);
 opacity:.7;
}

/* Responsive Design */
@media  screen and (max-width:700px){
   main{
    display:flex;
    flex-direction:column;
    width:90%;
    height:100%;
   }
   .details{
       width:50%;
   }
  .cta-button{
      margin-bottom: 2rem;
  }
  
}
